# Ignore Python virtual environment files
**/venv/
**/env/
**/.venv/
**/.venv*/
**/env*/
**/data
**/__pycache__/
**/.ssl/
**/cookies.txt

# Ignore a virtual environment created directly inside src
src/bin/
src/lib/
src/share/
src/pyvenv.cfg
