services:
    ytdlp_web_player:
        # build: .
        image: matszwe02/ytdlp_web_player
        restart: unless-stopped
        environment:
            - APP_TITLE=YT-DLP Player
            - THEME_COLOR=#ff7300
            - GENERATE_SPRITE_BELOW=1800 # video length in seconds
            - AMOLED_BG=false
            - MAX_VIDEO_AGE=3600 # video will be removed after inactivity, in seconds
        ports:
            - 5000:5000


    # # For automatic updates, I recommend running `watchtower` container, example below. Uncomment it to enable daily updates.
    # watchtower:
    #     image: nickfedor/watchtower
    #     volumes:
    #         - /var/run/docker.sock:/var/run/docker.sock
