.vjs-theme-custom {
  --vjs-theme-custom--secondary: #fff;
}

.vjs-theme-custom .vjs-big-play-button {
  width: 70px;
  height: 70px;
  background: none;
  line-height: 70px;
  font-size: 80px;
  border: none;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  color: var(--vjs-theme-custom--primary);
}

.vjs-theme-custom:hover .vjs-big-play-button,
.vjs-theme-custom.vjs-big-play-button:focus {
  background-color: transparent;
  color: #fff;
}

.vjs-theme-custom .vjs-mouse-display {
    pointer-events: none;
}

.vjs-controls-disabled .vjs-control-bar, .vjs-error .vjs-control-bar {
  display: flex !important;
}

.vjs-theme-custom .vjs-error-display {
  pointer-events: none;
    background: transparent;
    font-size: 10pt;
    overflow: visible;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
}

.vjs-theme-custom .vjs-loading-spinner {
    border: none;
    margin: 0;
}

.vjs-theme-custom .vjs-control-bar {
  height: 54px;
  background: linear-gradient(0deg, black, transparent);
}

.vjs-theme-custom .vjs-button > .vjs-icon-placeholder::before {
  line-height: 54px;
}

.vjs-theme-custom .vjs-control:focus,
.vjs-theme-custom .vjs-control:focus:before,
.vjs-theme-custom .vjs-control:hover:before {
    text-shadow: 0 0 0;
}

.vjs-theme-custom .vjs-time-control {
  line-height: 54px;
}

/* Play Button */
.vjs-theme-custom .vjs-play-control {
  font-size: 1.5em;
  position: relative;
  width: 3em;
}

.video-js .vjs-play-control .vjs-icon-placeholder:before {
  font-size: 1.6em;
  line-height: 1.6;
  margin-top: 0.1em;
  height: 1.3em;
  width: 1.3em;
  border-radius: 1em;
  top: 5px;
  left: 9px;
}

.vjs-theme-custom .vjs-volume-panel {
  order: 2;
}

.vjs-theme-custom .vjs-volume-bar {
  margin-top: 2.5em;
}

.vjs-theme-custom .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal {
  height: 100%;
}

.vjs-theme-custom .vjs-progress-control .vjs-progress-holder {
  font-size: 1.5em;
}

.vjs-theme-custom .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.5em;
}

.video-js .vjs-progress-control {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  order: 3;
  z-index: 1;
  padding: 10px 0;
  top: -.5em;
}

.video-js .vjs-progress-holder {
  position: absolute;
  margin: 0 0.5em !important;
  width: calc(100% - 1em);
}

.vjs-theme-custom .vjs-play-progress {
  background-color: var(--vjs-theme-custom--primary);
  border-radius: 50vh;
}

.vjs-theme-custom .vjs-play-progress::before {
  height: 0.8em;
  width: 0.8em;
  content: '';
  background-color: var(--vjs-theme-custom--primary);
  border: 4px solid var(--vjs-theme-custom--primary);
  border-radius: 0.8em;
  top: -0.25em;
}

.vjs-theme-custom .vjs-progress-holder {
    border-radius: 50vh;
}

.vjs-theme-custom .vjs-progress-holder>div {
    border-radius: 50vh;
}


.vjs-theme-custom .vjs-load-progress div {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50vh;
}

.vjs-theme-custom .vjs-slider {
    background: rgba(127, 127, 127, 0.3);
}

.video-js.vjs-layout-tiny .vjs-progress-control, .video-js.vjs-layout-x-small .vjs-progress-control {
    display: block;
}

.vjs-theme-custom .vjs-progress-control {
  font-size: 14px;
}

.vjs-play-progress > .vjs-time-tooltip {
  display: none !important;
}

.video-js .vjs-time-control {
  font-size: 1.2em;
}

.vjs-settings-button {
    order: 7;
    cursor: pointer;
}
.vjs-settings-button > i {
    scale: 1.3;
}

.vjs-theme-custom .vjs-picture-in-picture-control {
  order: 8;
}

.vjs-zoom-control {
  order: 8;
  cursor: pointer;
}

.vjs-zoom-control {
    display: none !important;
}

.vjs-fullscreen .vjs-zoom-control {
    display: block !important;
}

.vjs-theme-custom .vjs-fullscreen-control {
  order: 9;
}

.vjs-theme-custom .vjs-remaining-time {
  display: none;
}

.vjs-theme-custom .vjs-current-time {
  order: 3;
  display: block;
  padding-right: 0;
  margin-right: -5pt;
}

.vjs-theme-custom .vjs-time-divider {
  order: 3;
  display: block;
}

.vjs-theme-custom .vjs-duration {
  order: 3;
  display: block;
  padding-left: 0;
  margin-left: -5pt;
}

.video-js.vjs-layout-small .vjs-current-time, .video-js.vjs-layout-small .vjs-time-divider, .video-js.vjs-layout-small .vjs-duration {
    display: block !important;
}


.vjs-settings-menu {
    position: absolute;
    bottom: 110%;
    right: 100%;
    transform: translateX(50%);
    background-color: #333;
    border-radius: 7px;
    color: #eee;
    text-align: center;
    display: none;
    flex-direction: row;
    width: fit-content;
    overflow: visible;
    transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 11;
}

@keyframes vjs-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.vjs-spin {
    animation: vjs-spin 1s linear infinite;
}
