<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ app_title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
    </head>
    <body>
        <div style="display: inline-block; text-align: center; width: 50%" class="non-video">
            <h1><i class="fa-solid fa-link"></i> Video URL:</h1>
            <input type="text" id="standard_url" name="url" />
            <button onclick="window.location.href='/watch?url=' + encodeURIComponent(document.getElementById('standard_url').value)" class="play-button"><i class="fa-solid fa-play"></i></button>
        </div>
        <!-- Expandable menu -->
        <div id="expandable-menu-container">
            <button id="expand-button" class="expand-button">
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <div id="expandable-content" class="expandable-content">
                <ul>
                    <li><a href="https://github.com/yt-dlp/yt-dlp" target="_blank"><i class="fa-solid fa-download"></i> YT-DLP version: <b>{{ydl_version}}</b></a></li>
                    <li><a href="https://github.com/yt-dlp/FFmpeg-Builds" target="_blank"><i class="fa-solid fa-cogs"></i> FFmpeg version: <b>{{ffmpeg_version}}</b></a></li>
                    <li><a href="https://github.com/Matszwe02/ytdlp_web_player" target="_blank"><i class="fa-brands fa-github"></i></i> App version: <b>{{app_version}}</b></a></li>
                </ul>
            </div>
        </div>
        <script src="{{ url_for('static', filename='sw.js') }}"></script>
    </body>
</html>