################ Uncomment a variable to change. All of the provided values are defaults. ################

# APP_TITLE=YT-DLP Player
# THEME_COLOR="#ff7300"
# GENERATE_SPRITE_BELOW=1800 # generate sprites for videos below this duration (0 to disable)
# AMOLED_BG=false
# MAX_VIDEO_AGE=3600 # inactivity after which video is removed
# MAX_VIDEO_DURATION=36000
# DEFAULT_QUALITY=720
# LOAD_DEFAULT_QUALITY=true
# COOKIES_ONLY_ON_FAILURE=true # only use cookies if necessary, use them always otherwise
# PLAYLIST_SUPPORT=false
# AUTO_BG_PLAYBACK=false
# AUDIO_VISUALIZER=false
# DOWNLOAD_PATH=./download
# DISABLE_TRANSCODING=false # useful for low-performance machines, only basic features will work
# PORT = 5000